.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radioOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  width: fit-content;
}
